@import url("https://fonts.googleapis.com/css2?family=Anton&family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lalezar&family=Luckiest+Guy&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */
  --primary-color: #e7dfd2;
  --secondary-color: #2a2926;
  --third-color: #2c9174;
  --accent-color: #dd266e;
  --highlight-color: #ce886b;
  /* Fonts */
  --font-header: "Luckiest Guy", serif;
  --font-body: "Lalezar", system-ui;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--font-body);
  text-transform: uppercase;
}

main {
  margin: auto;
  text-align: center;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:clamp(720px, 10vw, 877px);
  height: clamp(630px, 10vw, 750px);
  background-color: var(--primary-color);
  border-radius: 5px;
}

.main-container {
  margin-top: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.audio-tag {
  position: relative;
  left: clamp(39px, 2vw, 95px);
  align-self: flex-start;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 90px;
  padding-top: 0px;
  height: 18px;
  letter-spacing: 1px;
  font-size: 15px;
  text-transform: uppercase;
}

header {
  background-color: var(--third-color);
  color: var(--primary-color);
  padding: 30px 85px;
  box-shadow: inset 0px 0px 0px 5px var(--primary-color);
  border: 3px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header h1 {
  position: relative;
  top: clamp(-5px, 5vw, -17px);
  font-family: var(--font-header);
  font-size: clamp(85px, 5vw, 95px);
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--secondary-color),
    -1px 1px 0 var(--secondary-color), -1px -1px 0 var(--secondary-color),
    1px -1px 0 var(--secondary-color);
  filter: drop-shadow(1px 3px 0 var(--secondary-color));
}
.slogan {
  position: relative;
  top: clamp(-7px, 5vw, -17px);
  font-family: var(--font-header);
  position: relative;
  left: 0px;
  text-align: left;
  line-height: 0px;
  letter-spacing: 2px;
  font-size: clamp(19px, 80%, 22px);
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--secondary-color),
    -1px 1px 0 var(--secondary-color), -1px -1px 0 var(--secondary-color),
    1px -1px 0 var(--secondary-color);
  filter: drop-shadow(1px 3px 0 var(--secondary-color));
}
.slogan-japan {
  position: relative;
  top: clamp(-7px, 5vw, -17px);
  font-family: var(--font-header);
  position: relative;
  left: 0px;
  text-align: right;
  line-height: 0px;
  font-size: clamp(20px, 80%, 23px);
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--secondary-color),
    -1px 1px 0 var(--secondary-color), -1px -1px 0 var(--secondary-color),
    1px -1px 0 var(--secondary-color);
  filter: drop-shadow(1px 3px 0 var(--secondary-color));
}

.listen-now-container {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  position: absolute;
  bottom: clamp(10px, 0vw, 22px);
}

.listen-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -20px;
  padding: 25px 2.4vw;
  font-family: var(--font-header);
  background-color: var(--accent-color);
  color: var(--primary-color);
  line-height: clamp(22px, 0vw, 27px);
  height: 100px;
  box-shadow: inset 0px 0px 0px 5px var(--primary-color),
    5px 5px 0 var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  transition: 0.2s;
}
.listen-button p {
  position: relative;
  top:clamp(-2px, 5vw, -5px);
  font-size: clamp(42px, 2vw, 50px);
}

.listen-button-info {
  text-align: center;
  font-family: var(--font-body);
  color: var(--primary-color);
  font-size: clamp(11px, 0vw, 12px);
}
.listen-button:hover {
  cursor: pointer;
  font-family: var(--font-header);
  background-color: #b31a57;
  box-shadow: inset 0px 0px 0px 5px var(--primary-color),
    2px 2px 0 var(--secondary-color);
  border: 2px solid var(--secondary-color);
  transition: 0.2s;
}

.album-cover {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  position: relative;
  top: 15px;
}
.album-cover-art {
  width:clamp(93%, 20vw, 100%);
}

.album-art-tag {
  position: absolute;
  text-align: left;
  line-height: 17px;
  top: 25px;
}
.songs-tag {
  position: relative;
  top: -3px;
  letter-spacing: 1px;
  background-color: var(--third-color);
  padding: 1px 9px 0px 9px;
  color: var(--primary-color);
  font-size: 17px;
  z-index: 0;
}
.titles-tag {
  font-size: 17px;
  position: relative;
  background-color: var(--third-color);
  background-color: var(--primary-color);
  padding: 5px 17px 3px 5px;
}


.about-info-container {
    display:flex;
    flex-direction: column;
    gap:clamp(10px, 0vw, 20px);
    margin-top:15px;
}

.about {
    width:clamp(320px, 10vw, 377px);
    height:clamp(188px, 10vw, 245px);
    background-color: var(--secondary-color);
    position: relative;
    border-radius: 5px;
    background: url(img/overlay.png) var(--secondary-color);
    background-repeat: no-repeat;
    display:flex;
    flex-direction: row;
}

.about h2 {
  font-family: var(--font-header);
  color:var(--primary-color);
  font-size:40px;
  line-height: 30px;
}
.music {
  font-size:30px;
}
.about p {
  color:var(--primary-color);
}
.about-info {
  font-size:15px;
  padding:20px 0px 20px 20px;
  text-align: left;
display:flex;
flex-direction: column;
}
.about-image {
  position: relative;
  margin-right:-10px;
  top:-5px;
  padding:30px 30px 30px 30px;
  width:200px;
  height:200px;
  border-radius: 34px;
}

.border-radius {
  border-radius: 25px;
  box-shadow: -10px 10px 0 var(--primary-color);
  width:15px;
  height:25px;
  top:93px;
  position: absolute;
}
.border-radius-lower {
  border-radius: 25px;
  box-shadow: -10px 10px 0 var(--primary-color);
  width:15px;
  height:25px;
  bottom:0px;
  left:135px;
  z-index:10;
  position: absolute;
}


.side-section {
  position: absolute;
  background-color: var(--primary-color);
  bottom:0;
  width:135px;
  height:70px;
  border-top-right-radius: 10px;
}


.follow {
  margin-top:7px;
  font-size: 13px;
  letter-spacing: 1px;
}

.socials-container {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.socials {
  background-color: var(--secondary-color);
  width:27px;
  height:27px;
  border-radius: 5px;
}
.socials:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}



.info {
  width:clamp(320px, 10vw, 377px);
  height:clamp(210px, 10vw, 245px);
    background-color: var(--secondary-color);
    position: relative;
    border-radius: 5px;
    background: url(img/overlay.png) var(--secondary-color);
    background-repeat: no-repeat;
}
.info-border {
  position: absolute;
  top:10px;
  left:10px;
  z-index:1;
  width:clamp(300px, 10vw, 373px);
  height:clamp(190px, 10vw, 242px);
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  color:var(--primary-color);
  padding:20px;
  text-align: left;
  font-family: var(--font-header);
}

.info-tag {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  right:0;
  top:15px;
  font-family: var(--font-body);
  background-color: var(--third-color);
  font-size: 17px;
  letter-spacing: 2px;
  padding:3px 16px 0px;
  height:25px;
}

.info-border h2 {
  line-height: 25px;
  letter-spacing: 1px;
}
.info-border p {
  position: relative;
  top:-5px;
  font-family: var(--font-body);
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1px;
  padding:0px 50px 0 0;
}

.animated-circle {
  position: absolute;
  bottom:5px;
  right:5px;
  width:125px;
  height:125px;
  border-radius: 2000px;
  border:2px solid var(--secondary-color);
  background-color: var(--primary-color);
  background-image: url(img/circle-star.png);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  z-index:100;
  animation: 10s circle-rotate linear infinite;
}
@keyframes circle-rotate {
  0% {rotate: 0deg;}
  100% {rotate: 360deg;}
}

.main-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:clamp(0px, 0vw, 20px);
    width:93vh;
}