@import url("https://fonts.googleapis.com/css2?family=Anton&family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lalezar&family=Luckiest+Guy&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */
  --primary-color: #e7dfd2;
  --secondary-color: #2a2926;
  --third-color: #2c9174;
  --accent-color: #dd266e;
  --highlight-color: #ce886b;
  /* Fonts */
  --font-header: "Luckiest Guy", serif;
  --font-body: "Lalezar", system-ui;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--font-body);
  text-transform: uppercase;
}

main {
  margin: auto;
  text-align: center;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:clamp(720px, 50vw, 847px);
  height: clamp(647px, 50vw, 660px);
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.403);
}

.main-container {
  margin-top: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.audio-tag {
  position: relative;
  left: clamp(30.5px, 2vw, 95px);
  align-self: flex-start;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 90px;
  padding-top: 0px;
  height: 18px;
  letter-spacing: 1px;
  font-size: 15px;
  text-transform: uppercase;
}

header {
  background-color: var(--third-color);
  color: var(--primary-color);
  padding: 30px 85px;
  box-shadow: inset 0px 0px 0px 5px var(--primary-color);
  border: 3px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header h1 {
  position: relative;
  top: clamp(-2px, 5vw, -17px);
  font-family: var(--font-header);
  font-size: clamp(80px, 65vw, 88px);
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--secondary-color),
    -1px 1px 0 var(--secondary-color), -1px -1px 0 var(--secondary-color),
    1px -1px 0 var(--secondary-color);
  filter: drop-shadow(1px 3px 0 var(--secondary-color));
}
.slogan {
  position: relative;
  top: clamp(-3px, 5vw, -17px);
  font-family: var(--font-header);
  position: relative;
  left: 0px;
  text-align: left;
  line-height: 0px;
  letter-spacing: 2px;
  font-size: clamp(20px, 80%, 22px);
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--secondary-color),
    -1px 1px 0 var(--secondary-color), -1px -1px 0 var(--secondary-color),
    1px -1px 0 var(--secondary-color);
  filter: drop-shadow(1px 3px 0 var(--secondary-color));
}
.slogan-japan {
  position: relative;
  top: clamp(-3px, 5vw, -17px);
  font-family: var(--font-header);
  position: relative;
  left: 0px;
  text-align: right;
  line-height: 0px;
  font-size: clamp(20px, 80%, 23px);
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--secondary-color),
    -1px 1px 0 var(--secondary-color), -1px -1px 0 var(--secondary-color),
    1px -1px 0 var(--secondary-color);
  filter: drop-shadow(1px 3px 0 var(--secondary-color));
}

.listen-now-container {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  position: absolute;
  bottom: clamp(5px, 0vw, 22px);
}

.listen-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -17px;
  left:-10px;
  padding: 25px 3.1vw;
  font-family: var(--font-header);
  background-color: var(--accent-color);
  color: var(--primary-color);
  line-height: clamp(22px, 2vw, 27px);
  height: 95px;
  box-shadow: inset 0px 0px 0px 5px var(--primary-color),
    5px 5px 0 var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 7px;
  transition: 0.2s;
}


.listen-button p {
  position: relative;
  top:clamp(2px, 5vw, -5px);
  font-size: clamp(44px, 2vw, 50px);
}

.listen-button-info {
  text-align: center;
  font-family: var(--font-body);
  color: var(--primary-color);
  font-size: clamp(11px, 0vw, 12px);
}
.listen-button:hover {
  cursor: pointer;
  font-family: var(--font-header);
  background-color: #b31a57;
  box-shadow: inset 0px 0px 0px 5px var(--primary-color),
    2px 2px 0 var(--secondary-color);
  border: 2px solid var(--secondary-color);
  transition: 0.2s;
}

.album-cover {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  position: relative;
  top: 15px;
  left:-10px;
}
.album-cover-art {
  width:clamp(100%, 20vw, 100%);
}


#play-button, #pause-button {
  position: absolute;
  top: 0px;
  height:100%;
  width:clamp(93%, 20vw, 100%);
  border-radius: 5px;
  transition:.3s;
  display:flex;
  justify-content: center;
}

#play-button:hover, #pause-button:hover {
  cursor:pointer;
  position: absolute;
  top: 0px;
  background-color: #1d1b1a86;
  height:100%;
  width:clamp(93%, 20vw, 100%);
  border-radius: 5px;
  transition:.3;
}

#play-image, #pause-image{
  opacity:0;
  position: absolute;
  align-self: center;
  height:100%;
  width:auto;
  transition:.5s;
}
#play-image:hover, #pause-image:hover {
  opacity:1;
}
#play-image {
  position: absolute;
  left:-1px;
}
#pause-image {
  position: absolute;
  left:0px;
}


#pause-button, #pause-image {
  display:none;
}

 /* #pause-image  {
  animation:fadeOut 1.5s forwards;
}
@keyframes fadeOut {
  0% {opacity:100%;}
  50% {opacity:100%;}
  100% {opacity:0%;}
} */





.album-art-tag {
  position: absolute;
  text-align: left;
  line-height: 17px;
  top: 25px;
  left:1px;
}
.songs-tag {
  position: relative;
  top: -3px;
  letter-spacing: 1px;
  background-color: var(--third-color);
  padding: 1px 9px 0px 9px;
  color: var(--primary-color);
  font-size: 17px;
  z-index: 0;
}
.titles-tag {
  font-size: 17px;
  position: relative;
  background-color: var(--third-color);
  background-color: var(--primary-color);
  padding: 5px 17px 3px 5px;
}


.about-info-container {
    display:flex;
    flex-direction: column;
    gap:clamp(10px, 0vw, 20px);
    margin-top:15px;
    position: relative;
    left:10px;
}

.about {
    width:clamp(320px, 10vw, 377px);
    height:clamp(188px, 10vw, 245px);
    background-color: var(--secondary-color);
    position: relative;
    border-radius: 5px;
    background: url(img/overlay.png) var(--secondary-color);
    background-repeat: no-repeat;
    display:flex;
    flex-direction: row;
}

.about h2 {
  font-family: var(--font-header);
  color:var(--primary-color);
  font-size:40px;
  line-height: 30px;
}
.music {
  font-size:30px;
}
.about p {
  color:var(--primary-color);
}
.about-info {
  font-size:15px;
  padding:20px 0px 20px 20px;
  text-align: left;
display:flex;
flex-direction: column;
}
.about-image {
  position: relative;
  margin-right:-10px;
  top:-5px;
  padding:30px 30px 30px 30px;
  width:200px;
  height:200px;
  border-radius: 34px;
  transition: .3s;
}

.wilwester-tag:hover {
  filter:brightness(90%) saturate(150%);
}

.border-radius {
  border-radius: 25px;
  box-shadow: -10px 10px 0 var(--primary-color);
  width:15px;
  height:25px;
  top:93px;
  position: absolute;
}
.border-radius-lower {
  border-radius: 25px;
  box-shadow: -10px 10px 0 var(--primary-color);
  width:15px;
  height:25px;
  bottom:0px;
  left:135px;
  z-index:10;
  position: absolute;
}


.side-section {
  position: absolute;
  background-color: var(--primary-color);
  bottom:0;
  width:135px;
  height:70px;
  border-top-right-radius: 10px;
}


.follow {
  margin-top:8px;
  font-size: 13px;
  letter-spacing: 1px;
}

.socials-container {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.music-socials-container {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  top:60px;
  gap:15px;
}

.socials {
  background-color: var(--secondary-color);
  width:27px;
  height:27px;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
}
.socials:hover {
  transition: .1s;
  cursor: pointer;
  background-color: var(--accent-color);
}
.socials img {
  width:20px;
  height:20px;
}



.info {
  width:clamp(320px, 10vw, 377px);
  height:clamp(233px, 10vw, 245px);
    background-color: var(--secondary-color);
    position: relative;
    border-radius: 5px;
    background: url(img/overlay.png) var(--secondary-color);
    background-repeat: no-repeat;
}
.info-border {
  position: absolute;
  top:10px;
  left:10px;
  z-index:1;
  width:clamp(300px, 10vw, 373px);
  height:clamp(213px, 10vw, 242px);
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  color:var(--primary-color);
  padding:20px;
  text-align: left;
  font-family: var(--font-header);
}

.info-tag {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  right:0;
  top:17px;
  font-family: var(--font-body);
  background-color: var(--third-color);
  font-size: 17px;
  letter-spacing: 2px;
  padding:3px 16px 0px;
  height:25px;
}

.info-border h2 {
  position: relative;
  top:13px;
  line-height: 25px;
  letter-spacing: 1px;
}
.info-border p {
  position: relative;
  top:8px;
  font-family: var(--font-body);
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1px;
  padding:0px 50px 0 0;
}

.animated-circle {
  position: absolute;
  bottom:5px;
  right:5px;
  width:125px;
  height:125px;
  border-radius: 2000px;
  border:2px solid var(--secondary-color);
  background-color: var(--primary-color);
  background-image: url(img/circle-star.png);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  z-index:100;
  animation: 10s circle-rotate linear infinite;
}
@keyframes circle-rotate {
  0% {rotate: 0deg;}
  100% {rotate: 360deg;}
}

.main-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:clamp(0px, 0vw, 20px);
    width:93vh;
}

#music-section {
  display:none;
}

#back {
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: var(--font-header);
  color:var(--primary-color);
  background-color: var(--accent-color);
  border:none;
  border:2px solid var(--secondary-color);
  border-radius:5px;
  position: absolute;
  top:20px;
  left:20px;
  padding:15px 30px;
  box-shadow: inset 0px 0px 0px 3px var(--primary-color),
  3px 3px 0 var(--secondary-color);
border: 2px solid var(--secondary-color);
transition: 0.2s;
}
#back:hover {
  cursor: pointer;
  background-color: #b31a57;
  box-shadow: inset 0px 0px 0px 3px var(--primary-color),
    1px 1px 0 var(--secondary-color);
  border: 2px solid var(--secondary-color);
  transition: 0.2s;
}


#back p {
 position: relative;
 top:3px;
}

.music-section-container  {
display:flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
align-content: center;
gap:15px;
position: absolute;
top:55%;
left:50%;
transform: translate(-50%, -50%);
}


.music-section-container a h3 {
  background-color: var(--third-color);
  color:var(--primary-color);
  font-family: var(--font-body);
  width:350px;
  padding:17px 20px 12px;
  position: relative;
  top:20px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 0px 3px var(--primary-color),
    3px 3px 0 var(--secondary-color);
  border: 2px solid var(--secondary-color);
  transition: .1s;
 }
 .music-section-container a h3:hover {
  cursor:pointer;
  background-color: rgb(11, 103, 83);
  width:250px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 0px 3px var(--primary-color),
    1px 1px 0 var(--secondary-color);
  border: 2px solid var(--secondary-color);
  transition: .1s;
 }

.music-section-container a {
  font-family: var(--font-body);
 text-decoration: none;
 color:var(--primary-color);
 font-size:21px;
 letter-spacing: 2px;
 position: relative;
  top:-15px;
}


.music-section-container p {
  position: relative;
  color:var(--secondary-color);
  top:45px;
  font-size:14px;
 letter-spacing: 1px;
 line-height: 17px;
}


#songs-teaser {
  visibility:hidden;
}


/*
@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 300px 0px;
  }
}
body {  
  background: repeating-linear-gradient(
  45deg,
  rgb(20, 49, 45),
  #232320 5%,
  #163a36 5%,
  #232320 10%);
  background-size: 300px 300px;
  animation: move-it 4s linear infinite;
} 
*/
